/* -------------------------------------------------------------------
   Media Queries: Estilos responsivos para diferentes tamaños de pantalla
------------------------------------------------------------------- */

/* Para pantallas menores a 1200px */
@media (max-width: 1200px) {
    html{
        font-size: 80%; 
    }

    .about, .skills, .projects, .contact{
        min-height: auto;
        padding-bottom: 10%;
    }
}

/* Para pantallas menores a 991px */
@media (max-width: 991px) {
    .header{
        padding: 2rem 3%;
    }

    section{
        padding: 10rem 3% 2rem;
    }

    .skills, .projects {
        padding-bottom: 7rem;
    }

    .contact{
        min-height: auto;
    }

    .footer{
        padding: 2rem 3%;
    }
}

/* Para pantallas menores a 768px */
@media (max-width: 768px) {
    html{
        font-size: 65%; 
    }

    #menu-icon {
        display: block; 
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
        transition: all 0.3s ease-in-out;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .home {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .home-content h3 {
        text-align: center;
    }

    .home-content .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin-top: 2rem;
        margin-left: 30%;
        margin-right: 30%;
        padding: 1rem 2.8rem;
    }

    .home-content h1, .home-content p {
        text-align: center;
    }

    .home-img img {
        width: 27vw;
        margin-top: 4rem;
    }

    .social-media {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 1.5rem;
        margin-top: 2rem;
    }

    .social-media a {
        margin: 0.5rem;
    }

    .btn {
        padding: 1rem 2.8rem;
        text-align: center;
    }
}

/* Para pantallas menores a 450px */
@media (max-width: 450px){
    .home-img img{
        width: 45vw;
    }

    html{
        font-size: 40%;
    }

    .contact form .input-box input{
        width: 100%;
    }
}

/* Para pantallas menores a 365px */
@media (max-width: 365px){
    .footer{
        flex-direction: column-reverse; 
    }

    .footer p{
        text-align: center;
        margin-top: 2rem;
    }
}