/* -------------------------------------------------------------------
   Media Queries: Estilos responsivos para diferentes tamaños de pantalla
------------------------------------------------------------------- */

/* Para pantallas menores a 1200px */
@media (max-width: 1200px) {
    html{
        font-size: 80%; /* Ajusta el tamaño de la fuente */
    }

    .about, .skills, .projects, .contact{
        min-height: auto;
        padding-bottom: 10%;
    }
}

/* Para pantallas menores a 991px */
@media (max-width: 991px) {
    .header{
        padding: 2rem 3%;
    }

    section{
        padding: 10rem 3% 2rem;
    }

    .skills, .projects {
        padding-bottom: 7rem;
    }

    .contact{
        min-height: auto;
    }

    .footer{
        padding: 2rem 3%;
    }
}