/* -------------------------------------------------------------------
   Importación de fuentes desde Google Fonts
------------------------------------------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100..900&display=swap");

/* -------------------------------------------------------------------
   Configuración global: Estilos iniciales y variables CSS
------------------------------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: "Smooch Sans", sans-serif;
}

:root {
    --bg-color: #ffffff;
    --second-bg-color: #fff0f0;
    --text-color: #000000;
    --main-color: #FF7E70;
    --hover-color: #ff6347;
}

html {
    font-size: 62.5%;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: auto;
    background: var(--bg-color);
    color: var(--text-color);
}

/* -------------------------------------------------------------------
   Configuración de las secciones principales
------------------------------------------------------------------- */
section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
    overflow: hidden;
    width: 100%;
}

/* -------------------------------------------------------------------
   Header: Barra de navegación fija
------------------------------------------------------------------- */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    /* Borde gris fino */
    /* border-bottom: 0.01rem solid rgba(0, 0, 0, 0.1); */
}

.logo {
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: pointer;  
    transition: 0.3s ease-in-out;
}

.logo:hover {
    transform: scale(1.1);
    color: var(--hover-color);
}

.navbar a {
    font-size: 2rem;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 4rem;
    transition: 0.3s ease-in-out;
    display: inline-block; 
}

.navbar a:hover {
    transform: scale(1.1);
    color: var(--hover-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}


/* -------------------------------------------------------------------
   Section HOME: Estilos para la portada principal
------------------------------------------------------------------- */
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.home-content {
    width: 100%;
}

.home-img img {
    width: 30vw;
    animation: floatImage 6s ease-in-out infinite;
    width: 100%;
    border-radius: 60%;
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2.4rem);
    }
    100% {
        transform: translateY(0);
    }
}

.home-content h1 {
    font-size: 7.2rem;
    font-weight: 700;
    line-height: 1.3;
    width: 100%;
}

.home-content h3 {
    font-size: 4.2rem;
    font-weight: 700;
    width: 100%;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

.home-content p {
    font-size: 2.3rem;
}

span {
    color: var(--main-color);
}

/* -------------------------------------------------------------------
   Social Media: Botones para redes sociales
------------------------------------------------------------------- */
.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: transparent;
    border: 0.2rem solid var(--main-color);
    border-radius: 50%;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: all 0.4s ease-in-out;
}

.social-media a:hover {
    background: var(--hover-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--hover-color);
    border: 0.2rem solid var(--hover-color);
    transform: scale(1.1);
}

/* -------------------------------------------------------------------
   Botón general: Estilos para botones reutilizables
------------------------------------------------------------------- */
.btn {
    display: inline-block;
    padding: 1.4rem 3.4rem;
    background: var(--main-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: var(--bg-color);
    letter-spacing: 0.1rem;
    font-weight: 800;
    transition: all 0.4s ease-in-out;
}

.home-content a {
    font-size: 2rem;
}

.btn:hover {
    transform: scale(1.05);
    background-color: var(--hover-color);
    box-shadow: 0 0 1rem var(--hover-color);
}

/* -------------------------------------------------------------------
   Section ABOUT: Estilos para la sección de información sobre mí
------------------------------------------------------------------- */
.about {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    background: var(--second-bg-color);
    overflow: hidden;
}

.about-content {
    width: 100%;
}

.heading {
    text-align: center;
    font-size: 5.2rem;
}

.heading h2 {
    width: 100%;
}

.about-content h3 {
    margin-top: 1rem;
    text-align: center;
    font-size: 2.5rem;
    width: 100%;
}

.about-content p {
    font-size: 2rem;
    margin: 2rem 0 2rem;
}

/* -------------------------------------------------------------------
   Section ABOUT Timeline: Estilos para la línea de tiempo de Educación 
   y Experiencia Laboral
------------------------------------------------------------------- */
.timeline-wrapper {
    width: 100%;
}

.timeline-col {
    width: 100%;
}

.timeline-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 2rem; 
}

.heading-timeline {
    font-size: 3.5rem;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.heading-timeline i {
    font-size: 4rem;
}

/* -------------------------------------------------------------------
   Estilos para las cajas de contenido en la línea de tiempo
------------------------------------------------------------------- */
.content-box {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1.5rem;
    margin: 0 2rem;    
    background-color: var(--bg-color); 
    border: 1px solid var(--text-color);
    border-radius: 1rem;
    font-size: 14px;
    transition: 0.4s ease;
    cursor: pointer;
    box-shadow: 4px 4px 15px var(--main-color);
}

.content-box:hover {
    /* Efecto hover en la caja */
    box-shadow: 6px 6px 25px var(--hover-color);
    border: 1px solid var(--hover-color);
}

.timeline-box {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-left: 0.5rem solid var(--main-color);
}

/* -------------------------------------------------------------------
   Estilos para los encabezados dentro de las cajas de contenido
------------------------------------------------------------------- */
.content-box h3 {
    text-align: left;
    font-size: 2.5rem;
    color: var(--main-color);
    font-weight: 700;
    margin-top: 1rem;
}

.content-box p {
    margin-bottom: -0.5rem;
    margin-top: 0.5rem;
    font-size: 2rem;
}

/* -------------------------------------------------------------------
   Estilos para la fecha dentro de las cajas de contenido
------------------------------------------------------------------- */
.date p {
    font-size: 1.3rem;
    color: var(--text-color);
    font-weight: 700;
    margin-top: 0.5rem;
}

/* -------------------------------------------------------------------
   Estilos para el punto que aparece en la timeline
------------------------------------------------------------------- */
.content-box::before {
    position: absolute;
    content: '';
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--main-color);
    border-radius: 50%;
    left: -3.7rem;
    top: 6rem;
    box-shadow: 4px 4px 15px var(--main-color);
}

.content-box:hover::before {
    background-color: var(--hover-color); 
    transform: scale(1.1);     
    box-shadow: 0;
    box-shadow: 4px 4px 20px var(--hover-color);
}

/* -------------------------------------------------------------------
   Section SKILLS: Estilos generales para la sección de habilidades,
   incluyendo contenedores, barras de habilidades y efectos hover
------------------------------------------------------------------- */
.skills {
    background: var(--bg-color);
}

.skills .heading {
    margin-bottom: 4.5rem;
}

.info img {
    width: 4rem;
    height: 4rem;
}

.skills .container {
    background: var(--second-bg-color);
    padding: 2rem;
    width: 100%;
    max-width: 1200px; 
    margin: auto;
    border-radius: 1rem;
}

.skills .container .row {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
    gap: 1.8rem;
}

.skills .container .bar {
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 6px 6px 15px var(--main-color);
    transition: 0.3s ease;
    cursor: pointer;
    background-color: var(--bg-color);
    border: 1px solid var(--text-color);
    width: 100%; 
}

.skills .container .bar:hover {
    box-shadow: 6px 6px 15px var(--hover-color);
    transform: scale(1.03);
    border: 1px solid var(--hover-color);
}

.skills .container .bar .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.skills .container .bar .info span {
    font-size: 2rem;
    font-weight: 700;
    margin-left: 0.5rem;
}

/* -------------------------------------------------------------------
   Section PROJECTS: Estilos para la sección de proyectos, incluyendo
   las tarjetas de los proyectos, el diseño de la cuadrícula y los efectos hover
------------------------------------------------------------------- */
.projects {
    background-color: var(--second-bg-color);
}

.projects .heading {
    margin-bottom: 4.5rem;
}

.projects-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    place-items: center;
    gap: 3rem;
}

.projects-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--bg-color);
    border: 1px solid var(--text-color);
    border-radius: 3rem;
    padding: 0rem 0rem 2rem;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 6px 6px 15px var(--main-color);
    transition: 0.3s ease;
}

.projects-card:hover {
    box-shadow: 6px 6px 15px var(--hover-color);
    transform: scale(1.02);
    border: 1px solid var(--hover-color);
}

.projects-card img {
    width: 100%;  
    height: 20rem;  
    object-fit: cover;  
    border-radius: 2rem 0rem 0rem; 
}

.projects-card h3 {
    margin-top: 1rem;
    font-size: 2.5rem; 
    color: var(--main-color);
}

.projects-card p {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    padding: 1rem;
}

/* -------------------------------------------------------------------
   Section CONTACT: Estilos para el formulario de contacto, incluyendo
   los campos de entrada, el diseño de la caja de entrada y el botón de envío
------------------------------------------------------------------- */
.contact h2 {
    margin-bottom: 3rem;
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input, .contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: 0.8rem;
    margin: 0.7rem 0;
}

.contact form .input-box input {
    width: 49%;
    border: 1px solid var(--text-color);
}

.contact form textarea {
    resize: none;
    border: 1px solid var(--text-color);
}

.contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
    border: none;
}

/* -------------------------------------------------------------------
   Section FOOTER: Estilos para el pie de página, incluyendo el
   diseño de los elementos de texto y los iconos de redes sociales
------------------------------------------------------------------- */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}

.footer-text p {
    font-size: 1.6rem;
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem;
    background: var(--main-color);
    border-radius: 0.8rem;
    transition: 0.5s ease;
}

.footer-iconTop a:hover {
    box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--second-bg-color);
}
