/* -------------------------------------------------------------------
   Importaci贸n de fuentes desde Google Fonts
------------------------------------------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100..900&display=swap");

/* -------------------------------------------------------------------
   Configuraci贸n global: Estilos iniciales y variables CSS
------------------------------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: "Smooch Sans", sans-serif;
}

:root {
    --bg-color: #ffffff;
    --second-bg-color: #fff0f0;
    --text-color: #000000;
    --main-color: #FF7E70;
    --hover-color: #ff6347;
}

html {
    font-size: 62.5%;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: auto;
    background: var(--bg-color);
    color: var(--text-color);
}

/* -------------------------------------------------------------------
   Configuraci贸n de las secciones principales
------------------------------------------------------------------- */
section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
    overflow: hidden;
    width: 100%;
}

/* -------------------------------------------------------------------
   Header: Barra de navegaci贸n fija
------------------------------------------------------------------- */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    /* Borde gris fino */
    /* border-bottom: 0.01rem solid rgba(0, 0, 0, 0.1); */
}

.logo {
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: pointer;  
    transition: 0.3s ease-in-out;
}

.logo:hover {
    transform: scale(1.1);
    color: var(--hover-color);
}

.navbar a {
    font-size: 2rem;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 4rem;
    transition: 0.3s ease-in-out;
    display: inline-block; 
}

.navbar a:hover {
    transform: scale(1.1);
    color: var(--hover-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}


/* -------------------------------------------------------------------
   Section HOME: Estilos para la portada principal
------------------------------------------------------------------- */
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.home-content {
    width: 100%;
}

.home-img img {
    width: 30vw;
    animation: floatImage 6s ease-in-out infinite;
    width: 100%;
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2.4rem);
    }
    100% {
        transform: translateY(0);
    }
}

.home-content h1 {
    font-size: 7.2rem;
    font-weight: 700;
    line-height: 1.3;
    width: 100%;
}

.home-content h3 {
    font-size: 4.2rem;
    font-weight: 700;
    width: 100%;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

.home-content p {
    font-size: 2.3rem;
}

span {
    color: var(--main-color);
}

/* -------------------------------------------------------------------
   Social Media: Botones para redes sociales
------------------------------------------------------------------- */
.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: transparent;
    border: 0.2rem solid var(--main-color);
    border-radius: 50%;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: all 0.4s ease-in-out;
}

.social-media a:hover {
    background: var(--hover-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--hover-color);
    border: 0.2rem solid var(--hover-color);
    transform: scale(1.1);
}
