/* -------------------------------------------------------------------
   Importación de fuentes desde Google Fonts
------------------------------------------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100..900&display=swap");

/* -------------------------------------------------------------------
   Configuración global: Estilos iniciales y variables CSS
------------------------------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: "Smooch Sans", sans-serif;
}

:root {
    --bg-color: #ffffff;
    --second-bg-color: #fff0f0;
    --text-color: #000000;
    --main-color: #FF7E70;
    --hover-color: #ff6347;
}

html {
    font-size: 62.5%;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: auto;
    background: var(--bg-color);
    color: var(--text-color);
}

/* -------------------------------------------------------------------
   Configuración de las secciones principales
------------------------------------------------------------------- */
section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
    overflow: hidden;
    width: 100%;
}

/* -------------------------------------------------------------------
   Header: Barra de navegación fija
------------------------------------------------------------------- */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    /* Borde gris fino */
    /* border-bottom: 0.01rem solid rgba(0, 0, 0, 0.1); */
}

.logo {
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: pointer;  
    transition: 0.3s ease-in-out;
}

.logo:hover {
    transform: scale(1.1);
    color: var(--hover-color);
}

.navbar a {
    font-size: 2rem;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 4rem;
    transition: 0.3s ease-in-out;
    display: inline-block; 
}

.navbar a:hover {
    transform: scale(1.1);
    color: var(--hover-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}